*.class
*.log
.DS_Store
*.ast

lib/cachedir/

# graphviz specific
*.gif
*.dot

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


# eclipse specific
bin/
.settings/
.classpath
.cache
.project
TAPY/

# Scala-IDE specific
.scala_dependencies