*.class
*.log
.DS_Store
*.ast
*.res.txt
lib/cachedir/

# graphviz specific
*.gif
*.png
*.dot

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


# eclipse specific
eclipse-bin/
bin/
.settings/
.classpath
.cache
.project
TAPY/

#Docx temps
~$*.docx
*.aux
*.log 
*.out
*.fdb_latexmk
*.fls
report/Main.pdf

# Scala-IDE specific
.scala_dependencies